In [1]:
import os

In [10]:
edu = os.listdir('/home/projects/Metaverse2021/video_segmentation')

In [11]:
edu[0]

'session2_metaverse1_HJY_segment_0.mp4'

In [12]:
len(edu)

10178

In [13]:
index = [i for i in range(len(edu))]

In [14]:
import pandas as pd
df = pd.DataFrame(index=index, columns=['file', 'label'])
df.to_excel('/home/projects/Metaverse2021/meta_label.xlsx')

In [7]:
label = pd.read_excel('/home/projects/Metaverse2021/edu_label.xlsx', engine='openpyxl', index_col=0)

In [16]:
label['label'][0] = 'P'

In [8]:
label

      file  label
0      NaN    NaN
1      NaN    NaN
2      NaN    NaN
3      NaN    NaN
4      NaN    NaN
...    ...    ...
2282   NaN    NaN
2283   NaN    NaN
2284   NaN    NaN
2285   NaN    NaN
2286   NaN    NaN

[2287 rows x 2 columns]